<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RechercheLieu</title>
    <link rel="stylesheet" href="/general.css">
	<link rel="stylesheet" href="/recherche.css">
    <link rel="stylesheet" href="/grid.css">

</head>

<body>

    <div class="child-page-listing">

        <h1>La ville: <%= nameVille %></h1>
    
        <div class="grid-container">

            <% for(i=0; i<tabListeNamePhotos.length; i++) { %>
            <article class="location-listing">
                <%
                const picName = tabListeNamePhotos[i].substring((tabListeNamePhotos[i].lastIndexOf("/")+1),(tabListeNamePhotos[i].length-4));
                %> 
                <a class="location-title" href="#"><%= picName %></a>
                <div class="location-image">
                    <a href="#"><img width="100" height="auto" src="<%= tabListeNamePhotos[i] %>" alt="<%= picName %>"></a>
                </div>
            
            </article>
            <% } %> 
        </div>
            <p><br> 	    <%- include('../IHM/rechercheLieu') %> </p>

    </body>