<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AffichageRechercheKanji</title>
	<!-- <style <%- include('../css/affichageRechercheKanji.css')   %> 	</style> -->
	<link rel="stylesheet" href="/affichageRechercheKanji.css">
</head>

<body>
	<section>   
		
	    <%- include('../IHM/rechercheKanji') %>
        <div class="affichage_resultat">  
			
			<h2>Liste des kanjis </h2>
			<table>
				<caption>Resultat de la recherche 	</caption>
				<tr>
					<th>Index</th>
					<th>Niveau</th>
					<th>Kanji</th>
					<th>Onyomi</th>
					<th>Kunyomi</th>
					<th>Français</th>
				</tr>

				<!-- Boucle pour lire le tableau -->
				<% for(i=0; i<result.length; i++) { %>
					<tr>
						 <td width=5% align=center ><%= result[i].kanji_index %></td>
						 <td width=5% align=center ><%= result[i].niveau %></td>
						 <td width=5% align=center ><%= result[i].kanji %></td>
						 <td><%= result[i].onyomi %></td>
						 <td><%= result[i].kunyomi %></td> 
						 <td><%= result[i].francais %></td> 
					  </tr>  
				<% } %>
			</table> 
		</div>
	</section>
</body>
</html>